n8n-workflow/workflow.json
{
  "name": "FAQ Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai-service:8000/api/get-answer",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $json.body.question }}\",\n  \"session_id\": \"{{ $json.body.session_id || 'default' }}\"\n}",
        "options": {}
      },
      "id": "http-request-node",
      "name": "Call AI Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"answer\": \"{{ $json.data.answer }}\",\n  \"session_id\": \"{{ $json.data.session_id }}\",\n  \"timestamp\": \"{{ $json.data.timestamp }}\"\n}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call AI Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Service": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "faq-chatbot-workflow",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
